@font-face {
    font-family: "Sora";
    src: url(../public/fonts/Sora.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../public/fonts/Ubuntu.ttf);
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #ebf0f5;
    font-family: 'Roboto', sans-serif;
}